@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
.home {
  color: white;
  padding-bottom: 100px;
}

.home .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.home .language .language__btn {
  width: 50px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Black Ops One", cursive;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: fromTop 1s ease;
          animation: fromTop 1s ease;
}

.home .language .language__btn:hover {
  border: 1px solid #00ff00;
  -webkit-box-shadow: 0px 0px 7px #00ff00;
          box-shadow: 0px 0px 7px #00ff00;
  cursor: pointer;
}

.home .intro {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 922px inset black;
          box-shadow: 0px 0px 922px inset black;
  -webkit-animation: fromLeft 1.5s ease-in-out;
          animation: fromLeft 1.5s ease-in-out;
}

.home .intro img {
  min-width: 150px;
  max-width: 400px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .intro p {
  width: 90%;
  margin: 10px auto;
  text-align: justify;
  font-size: 1rem;
}

.home .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.home .buttons .openModalBtn {
  height: 70px;
  width: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px;
  border-radius: 4px;
  border: none;
  font-size: 1.4rem;
  border: 1px solid #cccccc;
  color: #cccccc;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: "Black Ops One", cursive;
}

.home .buttons .openModalBtn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px #00ff00;
          box-shadow: 0px 0px 15px #00ff00;
  border: 1px solid #00ff00;
  color: white;
}

.home .buttons .openModalBtn:nth-child(1) {
  -webkit-animation: fromLeft 1.5s ease-in-out;
          animation: fromLeft 1.5s ease-in-out;
}

.home .buttons .openModalBtn:nth-child(2) {
  -webkit-animation: fromBottom 1.5s ease-in-out;
          animation: fromBottom 1.5s ease-in-out;
}

.home .buttons .openModalBtn:nth-child(3) {
  -webkit-animation: static 3s ease-in-out;
          animation: static 3s ease-in-out;
}

.home .buttons .openModalBtn:nth-child(4) {
  -webkit-animation: fromTop 1.5s ease-in-out;
          animation: fromTop 1.5s ease-in-out;
}

.home .buttons .openModalBtn:nth-child(5) {
  -webkit-animation: fromRight 1.5s ease-in-out;
          animation: fromRight 1.5s ease-in-out;
}

@media screen and (min-width: 786px) {
  .home .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 100px;
  }
  .home .intro img {
    min-width: 200px;
    max-width: 500px;
    max-height: 400px;
  }
  .home .intro p {
    padding: 20px;
    width: 70%;
    margin-top: 0px;
    font-size: 1.2rem;
  }
  .home .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px auto;
    width: 70%;
  }
  .home .buttons .openModalBtn {
    height: 120px;
    width: 350px;
    font-size: 1.7rem;
  }
}

@-webkit-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
