@import "../../styles/_styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

.home {
    color: white;
    padding-bottom: 100px;
    .language {
        @include flexCenter();
        padding: 5px;
        .language__btn {
            width: 50px;
            border: none;
            border-radius: 5px;
            padding: 5px;
            margin: 5px;
            background-color: transparent;
            border: 1px solid white;
            font-family: "Black Ops One", cursive;
            color: white;
            transition: 0.2s;
            animation: fromTop 1s ease;
            &:hover {
                border: 1px solid $lime-green;
                box-shadow: 0px 0px 7px $lime-green;
                cursor: pointer;
            }
        }
    }

    .intro {
        padding: 40px;
        @include flexColumn();
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 922px inset black;
        img {
            min-width: 150px;
            max-width: 400px;
            border-radius: 5px;
            align-self: center;
        }
        p {
            width: 90%;
            margin: 10px auto;
            text-align: justify;
            font-size: 1rem;
        }

        animation: fromLeft 1.5s ease-in-out;
    }

    .buttons {
        @include flexColumn();
        margin-top: 20px;
        .openModalBtn {
            height: 70px;
            width: 250px;
            align-self: center;
            margin: 10px;
            border-radius: 4px;
            border: none;
            font-size: 1.4rem;
            border: 1px solid darken(white, 20%);
            color: darken(white, 20%);
            background-color: transparent;
            transition: 0.2s;
            font-family: "Black Ops One", cursive;
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 15px $lime-green;
                border: 1px solid $lime-green;
                color: white;
            }
        }
        .openModalBtn:nth-child(1) {
            animation: fromLeft 1.5s ease-in-out;
        }
        .openModalBtn:nth-child(2) {
            animation: fromBottom 1.5s ease-in-out;
        }
        .openModalBtn:nth-child(3) {
            animation: static 2s ease-in-out;
        }
        .openModalBtn:nth-child(4) {
            animation: fromTop 1.5s ease-in-out;
        }
        .openModalBtn:nth-child(5) {
            animation: fromRight 1.5s ease-in-out;
        }
    }
}

@media screen and (min-width: 786px) {
    .home {
        .intro {
            @include flexRow;
            margin: 100px;
            img {
                min-width: 200px;
                max-width: 500px;
                max-height: 400px;
            }
            p {
                padding: 20px;
                width: 70%;
                margin-top: 0px;
                font-size: 1.2rem;
            }
        }

        .buttons {
            @include flexRow();
            justify-content: center;
            margin: 100px auto;
            width: 70%;
            .openModalBtn {
                height: 120px;
                width: 350px;
                font-size: 1.7rem;
            }
        }
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-100%);
        border: 1px solid $lime-green;
        box-shadow: -10px 5px 5px $lime-green;
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
        border: 1px solid $lime-green;
        box-shadow: 5px 5px 5px $lime-green;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
        border: 1px solid $lime-green;
        box-shadow: 0px 10px 5px $lime-green;
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        border: 1px solid $lime-green;
        box-shadow: 0px -10px 5px $lime-green;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes static {
    0% {
        opacity: 0;
        border: 1px solid $lime-green;
        box-shadow: 0px 0px 15px $lime-green;
    }
    100% {
        opacity: 1;
    }
}
