.home {
  color: white;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.home .language .language__btn {
  width: 50px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Black Ops One", cursive;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.home .language .language__btn:hover {
  border: 1px solid #00ff00;
  -webkit-box-shadow: 0px 0px 7px #00ff00;
          box-shadow: 0px 0px 7px #00ff00;
  cursor: pointer;
}

.home .intro {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 12px white;
          box-shadow: 0px 0px 12px white;
  background-color: whitesmoke;
  color: #5f697c;
  -webkit-animation: static 4s;
          animation: static 4s;
}

.home .intro img {
  min-width: 120px;
  max-width: 290px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .intro p {
  text-indent: 5%;
  width: 95%;
  margin: 10px auto;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5rem;
}

@-webkit-keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  overflow: hidden;
}

.home .buttons .openModalBtn {
  height: 70px;
  width: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px;
  border-radius: 4px;
  border: none;
  font-size: 1.4rem;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 2px 2px white;
          box-shadow: 0px 2px 2px white;
  color: #f2f2f2;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: "Black Ops One", cursive;
}

.home .buttons .openModalBtn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px #00ff00;
          box-shadow: 0px 0px 15px #00ff00;
  border: 1px solid #00ff00;
  color: white;
}

.home .buttons .openModalBtn:nth-child(1) {
  -webkit-animation: fromLeft 1.5s ease-in-out;
          animation: fromLeft 1.5s ease-in-out;
}

.home .buttons .openModalBtn:nth-child(2) {
  -webkit-animation: fromBottom 1.5s ease-in-out;
          animation: fromBottom 1.5s ease-in-out;
}

.home .buttons .openModalBtn:nth-child(3) {
  -webkit-animation: static 3s;
          animation: static 3s;
}

@keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home .buttons .openModalBtn:nth-child(4) {
  -webkit-animation: fromTop 1.5s ease-in-out;
          animation: fromTop 1.5s ease-in-out;
}

.home .buttons .openModalBtn:nth-child(5) {
  -webkit-animation: fromRight 1.5s ease-in-out;
          animation: fromRight 1.5s ease-in-out;
}

@media screen and (min-width: 786px) {
  .home {
    padding-bottom: 0px;
  }
  .home .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 30px 80px;
  }
  .home .intro img {
    min-width: 180px;
    max-width: 450px;
    max-height: 380px;
  }
  .home .intro p {
    padding: 20px;
    width: 60%;
    margin-top: 0px;
    font-size: 1.1rem;
  }
  .home .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px auto;
    width: 90%;
  }
  .home .buttons .openModalBtn {
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 120px;
    font-size: 1.6rem;
    color: #cccccc;
  }
}

@-webkit-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    border: 1px solid #00ff00;
    -webkit-box-shadow: -10px 5px 5px #00ff00;
            box-shadow: -10px 5px 5px #00ff00;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    border: 1px solid #00ff00;
    -webkit-box-shadow: -10px 5px 5px #00ff00;
            box-shadow: -10px 5px 5px #00ff00;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    border: 1px solid #00ff00;
    -webkit-box-shadow: 5px 5px 5px #00ff00;
            box-shadow: 5px 5px 5px #00ff00;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    border: 1px solid #00ff00;
    -webkit-box-shadow: 5px 5px 5px #00ff00;
            box-shadow: 5px 5px 5px #00ff00;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    border: 1px solid #00ff00;
    -webkit-box-shadow: 0px 10px 5px #00ff00;
            box-shadow: 0px 10px 5px #00ff00;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    border: 1px solid #00ff00;
    -webkit-box-shadow: 0px 10px 5px #00ff00;
            box-shadow: 0px 10px 5px #00ff00;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    border: 1px solid #00ff00;
    -webkit-box-shadow: 0px -10px 5px #00ff00;
            box-shadow: 0px -10px 5px #00ff00;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    border: 1px solid #00ff00;
    -webkit-box-shadow: 0px -10px 5px #00ff00;
            box-shadow: 0px -10px 5px #00ff00;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
