@import "../../../styles/styles";

.projects__container {
    .project__nav {
        display: none;
    }
    .scroll__container {
        min-height: 100vh;
        @include flexCenter();
        .scroll-element {
            box-shadow: 0 0 3px white;
            height: 80%;
            width: 100%;
            background: linear-gradient(40deg, lighten($main-background, 5%), lighten($main-background, 10%));
        }
        .element__hidden {
            opacity: 0;
            transition: opacity 500ms;
        }

        .element__scrolled {
            @include slideFromLeftFading();
        }
    }
    .projects__intro {
        margin: 10px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            text-align: center;
            color: whitesmoke;
            font-size: 3vmax;
            font-family: "Kanit", sans-serif;
        }
        p {
            text-align: justify;
            margin: 10px;
            border-radius: 5px;
            font-size: 1rem;
            padding: 20px;
            text-indent: 5%;
            background-color: whitesmoke;
            color: lighten($main-background, 25%);
        }
    }

    .project__data {
        margin: 15px 0;
        h1 {
            margin: 25px;
            text-align: right;
            color: whitesmoke;
            font-size: 1.6rem;
            font-family: "Kanit", sans-serif;
            border-bottom: 1px solid $lime-green;
        }
        p {
            text-align: justify;
            margin: 15px;
            color: $grey-color;
            font-size: 1.1rem;
            background-color: whitesmoke;
            color: lighten($main-background, 25%);
            padding: 20px;
            border-radius: 5px;
            text-indent: 5%;
        }
        .tech__stack {
            @include flexCenter();
            flex-wrap: wrap;
            margin: 0 20px;
            .tech__item {
                background-color: $grey-color;
                margin: 5px;
                padding: 2px 5px;
                font-family: "Kanit", sans-serif;
                border-radius: 5px;
                color: $main-background;
                box-shadow: 0 5px 5px black;
            }
        }

        .see__project {
            margin: 0 20px;
            h3 {
                margin: 30px;
                text-align: center;
                color: whitesmoke;
                font-size: 2.2vmax;
            }

            .see__links {
                @include flexRow();
                justify-content: space-evenly;
                margin: 40px;
                a {
                    text-decoration: none;
                    color: $grey-color;
                    width: 50px;
                    font-size: 1.1rem;
                    border-radius: 5px;
                    background-color: lighten($main-background, 5%);
                    box-shadow: 0 0 5px darken($main-background, 5%);
                    text-align: center;
                    padding: 10px;
                    transition: 500ms;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 0 5px $grey-color;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .projects__container {
        .project__nav {
            display: block;
            @include flexColumn();
            position: fixed;
            z-index: 1;
            border-radius: 4px;
            background-color: lighten($main-background, 1%);
            box-shadow: 0 0 4px $grey-color;
            padding: 5px 10px;
            @include fadeInStatic(6s);

            h3 {
                color: $grey-color;
                font-family: "Kanit", sans-serif;
            }

            .navBtn {
                text-decoration: none;
                color: white;
                padding: 5px 10px;
                box-shadow: 0 1px 2px $grey-color;
                margin: 4px;
                font-family: "Kanit", sans-serif;
                &:hover {
                    cursor: pointer;
                    background-color: lighten($main-background, 5%);
                }
            }
            .activeNavBtn {
                background-color: lighten($main-background, 15%);
            }
        }
        .scroll__container {
            .scroll-element {
                width: 60%;
            }
        }

        .projects__intro {
            margin-top: -100px;
            h1 {
                font-size: 2.3vmax;
            }
            p {
                font-size: 1.3vmax;
                padding: 20px 30px;
            }
        }

        .project__data {
            h1 {
                color: whitesmoke;
                font-size: 2.9vmax;
            }
            p {
                font-size: 1.4vmax;
            }
            .tech__stack {
                .tech__item {
                    padding: 4px 8px;
                }
            }

            .see__project {
                margin: 0 20px;
                h3 {
                    font-size: 2vmax;
                }

                .see__links {
                    a {
                        width: 80px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
