$main-background: #282c34;
$secondary-background: #49515f;
$lime-green: #00ff00;
$red-color: #c20000;

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
