.exp__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
  position: relative;
}

.exp__container .__data {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #282c34;
  -webkit-box-shadow: 0 2px 5px #282c34;
          box-shadow: 0 2px 5px #282c34;
  width: 90%;
  min-height: 160px;
  margin: 15px auto;
  font-family: "Kanit", sans-serif;
}

.exp__container .__data .top__ {
  text-align: right;
  background: -webkit-gradient(linear, left top, right top, from(#a3aab8), to(#333842));
  background: linear-gradient(90deg, #a3aab8, #333842);
  padding: 5px;
  color: white;
  font-size: 0.9rem;
}

.exp__container .__data .mid__top {
  text-align: center;
  font-size: 1.3rem;
  color: white;
  padding: 5px;
}

.exp__container .__data .mid__bottom {
  text-align: center;
  font-size: 1rem;
  color: white;
  padding: 10px;
}

.exp__container .__data .bottom__ {
  background: -webkit-gradient(linear, left top, right top, from(#333842), to(#a3aab8));
  background: linear-gradient(90deg, #333842, #a3aab8);
  padding: 5px;
  color: white;
  font-size: 0.9rem;
}

.exp__container .non__active__background {
  background-color: #5d6779;
}

.exp__container .card__on__top__active {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exp__container .card__on__top__active .triangle__top,
.exp__container .card__on__top__active .triangle__bottom {
  position: relative;
  width: 50px;
  height: 50px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.5;
  border-radius: 5px;
}

.exp__container .card__on__top__active .triangle__top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 15px;
}

.exp__container .card__on__top__active .triangle__bottom {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  bottom: 10px;
}

.exp__container .card__on__top__active:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.exp__container .card__on__top__active:hover .triangle__top {
  -webkit-transform: scale(1.5) rotate(45deg);
          transform: scale(1.5) rotate(45deg);
  opacity: 1;
}

.exp__container .card__on__top__active:hover .triangle__bottom {
  opacity: 1;
  -webkit-transform: scale(1.5) rotate(-135deg);
          transform: scale(1.5) rotate(-135deg);
}

.exp__container .card__on__top__none {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exp__container .middle__card {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.exp__container .bottom__card {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.exp__container .bottom__card:hover {
  cursor: pointer;
}

@media screen and (min-width: 786px) {
  .exp__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .exp__container .__data {
    width: 400px;
  }
  .exp__container .__data .top__ {
    font-size: 1.1rem;
  }
  .exp__container .__data .mid__top {
    font-size: 1.4rem;
  }
  .exp__container .__data .mid__bottom {
    font-size: 1.1rem;
  }
  .exp__container .__data .bottom__ {
    font-size: 1.1rem;
  }
  .exp__container .card__on__top__active .triangle__top,
  .exp__container .card__on__top__active .triangle__bottom {
    position: relative;
    width: 50px;
    height: 50px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0.5;
    border-radius: 5px;
  }
  .exp__container .card__on__top__active .triangle__top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0px;
  }
  .exp__container .card__on__top__active .triangle__bottom {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    bottom: 0px;
  }
  .exp__container .card__on__top__active:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .exp__container .card__on__top__active:hover .triangle__top {
    -webkit-transform: scale(1.5) rotate(-45deg);
            transform: scale(1.5) rotate(-45deg);
    opacity: 1;
  }
  .exp__container .card__on__top__active:hover .triangle__bottom {
    opacity: 1;
    -webkit-transform: scale(1.5) rotate(135deg);
            transform: scale(1.5) rotate(135deg);
  }
}
