@import "../../../../styles/styles";

.exp__container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    position: relative;

    .__data {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $main-background;
        box-shadow: 0 2px 5px $main-background;
        width: 90%;
        min-height: 160px;
        margin: 15px auto;
        font-family: "Kanit", sans-serif;

        .top__ {
            text-align: right;
            background: linear-gradient(90deg, lighten($main-background, 50%), lighten($main-background, 5%));
            padding: 5px;
            color: white;
            font-size: 0.9rem;
        }
        .mid__top {
            text-align: center;
            font-size: 1.3rem;
            color: white;
            padding: 5px;
        }
        .mid__bottom {
            text-align: center;
            font-size: 1rem;
            color: white;
            padding: 10px;
        }

        .bottom__ {
            background: linear-gradient(90deg, lighten($main-background, 5%), lighten($main-background, 50%));
            padding: 5px;
            color: white;
            font-size: 0.9rem;
        }
    }

    .non__active__background {
        background-color: lighten($main-background, 24%);
    }

    .card__on__top__active {
        @include boxOnTop(0.7);
        @include boxOnTopNavigationTriangle(45deg, -135deg, 15px, 10px);
    }

    .card__on__top__none {
        @include boxOnTop(0);
    }

    .middle__card {
        transform: scale(1.1);
    }

    .bottom__card {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 786px) {
    .exp__container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .__data {
            width: 400px;
            .top__ {
                font-size: 1.1rem;
            }
            .mid__top {
                font-size: 1.4rem;
            }
            .mid__bottom {
                font-size: 1.1rem;
            }
            .bottom__ {
                font-size: 1.1rem;
            }
        }
        .card__on__top__active {
            @include boxOnTopNavigationTriangle(-45deg, 135deg, 0px, 0px);
        }
    }
}
