@import "../../../styles/styles";

.eduExp__container {
    margin-top: 15px;
    @include flexColumn();
    @include fadeInStatic(2s);
    .eduExp__title {
        text-align: center;
        font-size: 1.3rem;
        font-family: "Black Ops One", cursive;
        color: whitesmoke;
        border-bottom: 1px solid $secondary-background;
        padding: 5px;
    }
    .work,
    .education {
        min-height: fit-content;
        padding: 10px;
    }
}

@media screen and (min-width: 786px) {
    .eduExp__container {
        margin-top: 0px;
    }
}
