.eduExp__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: static 2s;
          animation: static 2s;
}

@-webkit-keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.eduExp__container .eduExp__title {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Black Ops One", cursive;
  color: #49515f;
}

.eduExp__container .work,
.eduExp__container .education {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 10px;
  background-color: #5f6a7c;
  -webkit-box-shadow: 0 0 10px #5f6a7c;
          box-shadow: 0 0 10px #5f6a7c;
}
