@import "../../../styles/styles";

.motivation__container {
    border-radius: 5px;
    padding: 0px;
    width: 90%;
    margin: 0 auto;
    @include fadeInStatic(2s);

    h3 {
        color: lighten($main-background, 15%);
        font-family: "Black Ops One", cursive;
        letter-spacing: 2px;
        font-size: 1.2rem;
        border-bottom: 1px solid lighten($main-background, 15%);
    }
    p {
        font-size: 0.9rem;
        text-align: justify;
    }
}

@media screen and (min-width: 786px) {
    .motivation__container {
        h3 {
            color: lighten($main-background, 15%);
            font-family: "Black Ops One", cursive;
            letter-spacing: 5px;
            font-size: 1.6rem;
            border-bottom: 3px solid lighten($main-background, 15%);
        }
        p {
            font-size: 1.1rem;
            padding: 20px;
        }
    }
}
