.motivation__container {
  border-radius: 5px;
  padding: 0px;
  width: 90%;
  margin: 0 auto;
  -webkit-animation: static 2s;
          animation: static 2s;
}

@-webkit-keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.motivation__container h3 {
  color: #49515f;
  font-family: "Black Ops One", cursive;
  letter-spacing: 2px;
  font-size: 1.2rem;
  border-bottom: 1px solid #49515f;
}

.motivation__container p {
  font-size: 0.9rem;
  text-align: justify;
  text-indent: 5%;
  color: #5f697c;
  line-height: 1.5rem;
}

@media screen and (min-width: 786px) {
  .motivation__container {
    width: 60%;
  }
  .motivation__container h3 {
    color: #49515f;
    font-family: "Black Ops One", cursive;
    letter-spacing: 5px;
    font-size: 1.6rem;
    border-bottom: 3px solid #49515f;
  }
  .motivation__container p {
    font-size: 1.1rem;
    padding: 30px;
  }
}
