.contacts {
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
  -webkit-animation: static 2s;
          animation: static 2s;
}

@-webkit-keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes static {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contacts p {
  font-family: "Kanit", sans-serif;
}

.contacts p:nth-child(1) {
  font-size: 1.2rem;
}

.contacts p:nth-child(2) {
  font-size: 1.3rem;
}

.contacts p:nth-child(3) {
  font-size: 1.3rem;
  font-weight: bold;
}

.contacts p:nth-child(4) {
  font-size: 1rem;
}

.contacts .my__github__icon a {
  color: white;
  font-size: 4rem;
}

.contacts .my__github__icon a:hover {
  color: #00ff00;
}
